###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*
!/.env.example
/nginx/*.conf
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Configuration Nginx
/nginx/
*.conf
nginx_app.conf

# Heroku
Procfile
Procfile.local
.buildpacks

# Scripts
import-external-repo.sh